p
{
    background-image: linear-gradient(rgb(217, 245, 185), rgb(126, 211, 57));
    width: 300px;
    height: 150px;
    margin: 3em;
    padding: 1em;
    box-shadow: 12px 12px black;
}
body
{
    background-color: rgb(228, 247, 207);
}
.first
{
   font-family: myRistretto, sans-serif;
}
.second
{
    font-family: myMayestica, sans-serif;
}
@font-face {
font-family:myRistretto;
src: url(ristretto.woff);
}
@font-face {
    font-family: myMayestica;
    src: url(Mayestica.otf);
}
body
{
    background-color: rgb(174, 247, 174);
}